<section class="container">
    <h1>detalle - <span style="cursor:pointer" class="imprimir glyphicon glyphicon-print" aria-hidden="true"></span></h1> 
    <div class="list-group">
    <div  class="list-group-item">
        <h2 class="list-group-item-heading">{{$ctrl.propuesta.secretaria}}</h2>
        <p class="list-group-item-text">

            <div class="panel panel-info">
                <div class="panel-heading">Diagnóstico por Eje</div>
                <div class="panel-body" style="color:black">
                    <div style="border:1px solid black;padding:1%;">
                        <h3>{{$ctrl.propuesta.eje}}</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Cumque autem doloremque consequuntur sequi sint beatae veniam,
                              architecto, placeat dolore iusto voluptas repellendus aliquid
                               voluptatum delectus optio tempore ducimus non, deserunt.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Objetivos Generales,Estrategias y Líneas de Acción</div>
                <div class="panel-body" style="color:black">
                    <div style="border:1px solid black;padding:1%;">
                        <h3>Objetivo General</h3>
                        <p class="p_container">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Cumque autem doloremque consequuntur sequi sint beatae veniam,
                              architecto, placeat dolore iusto voluptas repellendus aliquid
                               voluptatum delectus optio tempore ducimus non, deserunt.
                        </p>
                    </div>
                    <div style="border:1px solid black;padding:1%;">
                        <h3>Estrategias</h3>
                        <p class="p_container">
                            <strong class="block">Objetivos Estratégicos:</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Cumque autem doloremque consequuntur sequi sint beatae veniam,
                              architecto, placeat dolore iusto voluptas repellendus aliquid
                               voluptatum delectus optio tempore ducimus non, deserunt.
                        </p>
                        <p class="p_container">
                            <strong class="block">Línea Estratégica:</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Cumque autem doloremque consequuntur sequi sint beatae veniam,
                              architecto, placeat dolore iusto voluptas repellendus aliquid
                               voluptatum delectus optio tempore ducimus non, deserunt.
                        </p>
                        <p class="p_container">
                            <strong class="block">Indicador Estratégico:</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Cumque autem doloremque consequuntur sequi sint beatae veniam,
                              architecto, placeat dolore iusto voluptas repellendus aliquid
                               voluptatum delectus optio tempore ducimus non, deserunt.
                        </p>
                        <p class="p_container">
                            <strong class="block">Programas Asociados:</strong>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Cumque autem doloremque consequuntur sequi sint beatae veniam,
                              architecto, placeat dolore iusto voluptas repellendus aliquid
                               voluptatum delectus optio tempore ducimus non, deserunt.
                        </p>
                    </div>
                    <div style="border:1px solid black;padding:1%;">
                        <h3>Líneas de Acción</h3>
                        <p class="p_container">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Cumque autem doloremque consequuntur sequi sint beatae veniam,
                              architecto, placeat dolore iusto voluptas repellendus aliquid
                               voluptatum delectus optio tempore ducimus non, deserunt.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Indicador(es) de Gestión</div>
                <div class="panel-body" style="color:black">
                    <div style="border:1px solid black;padding:1%;">
                        <h3>Indicadores</h3>
                        <!-- Ficha de cada indicador -->
                        <div class="table_container">
                            <table class="table table-bordered">
                                <thead>
                                    <h5>Ficha de Indicador</h5>
                                    <tr class="bg-primary">
                                        <th>Elementos</th>
                                        <th>Características</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Nombre del indicador</th>
                                        <td>lorem</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción del indicador</th>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex atque accusamus quis totam! Ipsa sequi beatae at veritatis enim doloribus tempore. Quia reprehenderit culpa quod delectus dolor animi quae labore!
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Objetivo Estrategico del PED asociado</th>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, veritatis id. Non accusamus, aspernatur accusantium assumenda quasi cum dolores dolorem voluptas dolorum. Perspiciatis aspernatur tempore minima alias. Eligendi voluptatibus, inventore.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Base del calculo y definicion de variables</th>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dignissimos maxime laudantium aliquid fugit quo officiis minima repellat sint facere provident facilis ullam perspiciatis cupiditate, modi eos, consectetur recusandae neque.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Periodicidad</th>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae illo, dolorum. Magnam quae dicta repellendus omnis minus odio ipsum facilis impedit nostrum assumenda, vel culpa reprehenderit consequuntur, mollitia rerum, ut.
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Fuente</th>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eius voluptatibus, inventore natus repudiandae, facilis modi ratione facere expedita blanditiis ut, a itaque nobis? Dolores hic ullam cupiditate numquam, recusandae!
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Referencias Adicionales</th>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, est ipsa animi iure, rerum eveniet fugit eos facere ducimus! Beatae velit, eaque repudiandae. Quos possimus saepe facilis iusto expedita, voluptate.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>Líneas Base 2016</th>
                                        <th>Meta 2022</th>
                                        <th>Meta 2030</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, consequatur explicabo quod perspiciatis similique sequi eos cumque corporis unde fugiat voluptatem temporibus veniam veritatis inventore doloribus fugit quibusdam molestias nesciunt.
                                        </td>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam cum repellat, perferendis ut fuga quisquam beatae sed tempore eveniet sapiente non laborum nulla eligendi ducimus facere doloribus modi. Impedit, debitis.
                                        </td>
                                        <td>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quia maiores sint impedit tempora accusantium explicabo sapiente nam odit ut molestias mollitia repudiandae quos, quam fugiat animi voluptatibus quas molestiae.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- Finaliza Tabla por indicador -->

                    </div>
                </div>
            </div>

        </p>
    </div>
    </div>
</section>

<script>
    $('.imprimir').click(function(){
    window.print();
    return false;
});
</script>